.GameImage{
    width : 50vw;
    height : auto;
    margin-left: 2vw;
    margin-top: 1vw;
}



.title {
font-size: 2.4vw;
color:  rgb(72, 72, 72);
margin-left: 5%;
text-align: center;

}


span {
    font-size: 1rem;
    padding-left: 2vw;
    color: rgb(255, 114, 6);
    
}

.buttons {
width: 6vw;
height: 1.8vw;
margin-top: 0vw;
color: rgb(255, 255, 255);
font-weight: 600;
font-size: 0.8rem;
margin-left: 2vw;
position: fixed;
background-color: rgb(250, 135, 34);
}

.buttonshots {
    width: 5vw;
    height: 1.8vw;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 0vw;
    background-color:rgb(228, 228, 228);
    margin-top: 0vw;
 }
  

.info {
width: 50%;
position: relative;

}    
.Types {
margin-left: 2vw;
margin-top: 0.5vw;
font-size: 1rem;
color:black;
}

.action {
    width: 50%;
    position: relative;
    margin-left: 94%;
    margin-top: -3vw;
    margin-bottom: 4vw;

}
.erasebutton {
    width: 5vw;
    height: 1.8vw;
    color: rgb(255, 1, 1);
    background-color: rgb(254, 254, 254);
    font-weight: bold;
    margin-top: 0.9vw;
    }

    :any-link {
        text-decoration: none;
        color: darkslategrey;
    }